/*
	define gotham fonts
*/

@font-face{
	font-family: gotham-light;
	src: url(../fonts/Gotham-Light.otf);
}

@font-face{
	font-family: gotham-medium;
	src: url(../fonts/Gotham-Medium.otf);
}

@font-face{
	font-family: gotham-bold;
	src: url(../fonts/Gotham-Bold.otf);
}

/*
	header
*/

.logo-area{
	background-color: #10c6bc;
	width:100%;
	color: #404041;

	padding: 25px 0px;
}

.addresses{
	padding-top: 20px;
	padding-right: 0px;
}

.addresses p{
	font-size: .9em;
	font-family: gotham-medium;
	text-align: right;
	margin: 0px;

	padding: 5px 0px;
}

.addresses span{
	font-family: gotham-bold;
}

#nav{
	padding-right: 0px;
}

#nav a{
	color: #474747;
	font-family: gotham-medium;
	font-size: 1.2em;
}

#nav a:hover{
	color: #474747;
	text-decoration: none;
}

#nav > div{
	width: 20%;
	margin: 0px;
	text-align: center;
	
	float: left;
}

#nav > div > div{
	width: 100%;
	height: 100%;

	padding: 7px 0px;

	border-left: 2px #10c6b6 solid;
}

#nav > div:last-child > div{
	border-right: 2px #10c6b6 solid;
}

/*
	footer
*/

#footer{
	width: 100%;
	height: 70px;

	background-color: #e6e4e4;

	font-family: gotham-medium;
	color: #404041;
}

#footer .container{
	padding-right: 0px;
}

#footer .container > div{
	width: 50%;
	height: 100%;
	border: 0px;
	margin: 0px;
	float: left;
	padding: 24px 0px;
}

#footer .container > div:last-child{
	text-align: right;
}

/*
	content
*/

#content{
	width: 100%;
	background-color: #404041;
}

/*
	contact page
*/

.contact{
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact .container{
	padding-right: 0px;
}

.contact h2{
	color: #10c6b6;
	font-style: italic;
	font-family: gotham-medium;
	font-size: 1.2em;
}

.contact h3, .contact p{
	color: #f0f0f0;
}

.contact .container > div{
	padding: 30px 20px;
}

.contact .container > div:first-child{
	border-top: 2px #e6e4e4 solid;
	border-bottom: 2px #e6e4e4 solid;
}

.contact .container > div:first-child span{
	font-family: gotham-medium;
}

.contact .container > div:last-child{
	border-bottom: 2px #e6e4e4 solid;
	text-align:center;
}

.contact .container > div:last-child h2{
	text-align: left;
}

.contact .container > div:last-child > div{
	margin-top: 30px;
	margin-bottom: 50px;
}
.contact .container > div:last-child > div:last-child{
	margin-bottom: 20px;
}
.contact .container > div:last-child h3{
	margin-top: 10px;
	font-family: gotham-bold;
	font-size: 1em;
}

.contact .container > div:last-child p{
	margin-bottom: 5px;
}

/*
	meet the team page
*/

.team{
	padding-top: 60px;
	padding-bottom: 60px;
}

.team .container{
	padding-right: 0px;
}

.team .container > div{
	border-top: 2px #e6e4e4 solid;
	border-bottom: 2px #e6e4e4 solid;
	padding: 30px 20px;
}

.team .row{
	margin-top: 30px;
	margin-bottom: 30px;
}

.team img{
	width: 100%;
}

@media (min-width: 992px){
	.team img{
		width: 200px;
	}

	.team .col-xs-3{
		text-align:center;
	}
}

.team span{
	color: #10c6b6;
	font-style: italic;
	font-family: gotham-medium;
	font-size: 1.2em;
	padding-right: 2px;
}

.team p{
	color: #f0f0f0;
	line-height: 1.75;
}

/*
	resources page
*/

.resources{
	padding-top: 60px;
	padding-bottom: 60px;
}

.resources .container{
	padding-right: 0px;
}

.resources .container > div:first-child{
	border-top: 2px #e6e4e4 solid;
	border-bottom: 2px #e6e4e4 solid;
	padding: 30px 20px;
	margin-bottom: 50px;
	color: #f0f0f0;
}

.resources .container > div:first-child > div:first-child{
	color: #10c6bc;
	font-family: gotham-medium;
	font-style: italic;
	padding-right: 10px;
	float: left;
	height: 100px;
}

.resources .container > div:first-child span{
	font-style: italic;
}

.resources .resource{

}

.resources .resource > div{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.resources .resource p{
	color: #fefffd;
}

.resources .resource span{
	color: #10c6b6;
}

.resource-div{
	width:200px;
	height:200px;
	background-position: center center;
	margin-bottom: 20px;
}

.eyesmart{
	background-image: url(../img/eyesmart.png);
	
}

.webmd{
	background-image: url(../img/webmd.png);
}

.allaboutvision{
	background-image: url(../img/allaboutvision.png);
}


