<div class="logo-area">

    <div class="container">

        <div class="row">
            <div class="col-xs-4">
                <img src="img/logo.png"></img>
            </div>

            <div class="col-xs-8 addresses">
                <p>123 EAST 72ND STREET | NEW YORK, NY 10021 | <span>212.472.8546</span></p>
                <p>37-47 77TH STREET | JACKSON HEIGHTS, NY 11372 | <span>718.505.0960</span></p>
                <p>1545 UNIONPORT RD | PARKCHESTER, BRONX, NY 10462 | <span>718.892.2201</span></p>
            </div>
        </div>

    </div>

</div>

<div id="nav" class="container">

    <div>
        <div><a href="#">MEET THE TEAM</a></div>
    </div>
    <div>
        <div><a href="#">OUR SERVICES</a></div>
    </div>
    <div>
        <div><a href="#">SCHEDULE NOW</a></div>
    </div>  
    <div>
        <div><a href="#">RESOURCES</a></div>
    </div>  
    <div>
        <div><a href="contact.html">CONTACT US</a></div>
    </div>

</div>